#Nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-family: cursive;
}

h2 {
    color:green;
    text-align: center; 
 }
 body {
     background-color: whitesmoke;
     }

 #descrição_Cadu{
     background-color: red;
 }

 #lista-descrição{
     background-color: green;
     color: white;
     font-family: monospace;
     font-size: large;
 }

 #Foto {
     display: block;
     margin: 0 auto;
     border-image: round;
     border-image: 600px;
 }

 .list-style {
     font-size: large;
     font-family: monospace;
 }
